<div id='content'>

  <div class="row">

    <div class="span6">
      <h1>All Venues</h1> <br />

        <% @venue.each do |venue| %>
          <h3><b><%= venue.name %></b> (@<%= venue.handle %>)</h3>
          <h4><a href='/admin/<%= venue.handle %>/edit'>Profile</a> | <a href='/admin/<%= venue.handle %>/hours/edit'>Hours</a> | <a href='/admin/<%= venue.handle %>/food/edit'>Menu</a> | <a href='/admin/<%= venue.handle %>/printer/edit'>Printer</a></h4>
          <hr>
        <% end %>
    </div>

    <div class="span4">
      <h1>Add a New Venue</h1> <br />

        <form action='/admin/venue/add' method='post' class="form-horizontal">
          <p>
            <input class="span3" type="text" name='name' placeholder="Name">
          </p>

          <p>
            <input class="span3" type="text" name='handle' placeholder="Handle">
          </p>

          <p><input class="btn btn-large btn-info" type='submit' value='Add Venue'></p>
        </form>
    </div>

  </div>
</div>