<div id='content'>
<h1><%= @venue.name %></h1> <br />

  <% @venue.orders.each do |order| %>
    <h3>Order <%= order.id %></h3>
    <h4><%= order.customer.email %></h4>
    
    <% order.line_items.each do |item| %>
      <h5><%= item.quantity %> x <%= item.item %></h5>
    <% end %>
  <% end %>

</div>