<div id='content'>
<h1><%= @venue %></h1><br>
  <% @orders.each do |order| %>
          
    <h4><a href="/user/<%= order.phone %>"><%= order.lastname %></a> at <%= order.venue %> <a href="/venue/<%= order.venue %>/table/<%= order.table %>">Table <%= order.table %></a></h4>
    <h3><a href="/orders/<%= order.id %>"><%= order.drinks %></a></h3>
    <p><%= pretty_date(order.created_at) %> from <a href="/user/<%= order.phone %>"><%= order.phone %></a></p>
    <br>
    <script>
      function updateContent(){
        // Assuming we have #content
        $('#content').load('/venue/<%= order.venue %>');
      }
      setTimeout( "updateContent()", 10000 );
    </script>
  <% end %>
</div>