<div id='content'>
<h1><%= @venue %></h1><br>
  <% @orders.each do |order| %>
          
    <h4><%= order.venue %> at <a href="/venue/<%= order.venue %>/table/<%= order.table %>">Table <%= order.table %></a></h4>
    <h3><a href="/orders/<%= order.id %>"><%= order.drinks %></a></h3>
    <p>from <a href="/user/<%= order.phone %>"><%= order.firstname %></a></p>
    <br>
    <script>
      $(document).ready(function() {
      	setTimeout(function() {
        	$('#content').load('/venue/<%= @venue %>');}, 10000);
      });
    </script>
  <% end %>
</div>