<div id='content'>
<h3><%= @venue %></h3><hr>
  <% @orders.each do |order| %>
          
    <h5><%= order.venue %> at <%= order.table %></h5>
    <h4><a href="/orders/<%= order.id %>">Order <%= order.id %> | <%= order.drinks %></a> <%= ' | <i class="icon-eye-open"></i>' unless order.received_at.nil? %> <%= '<i class="icon-glass"></i>' unless order.fulfilled_at.nil? %></h4>
    <p>by <%= order.firstname %> <%= order.lastname %></p>
    <hr>
  <% end %>

<script>
  $(document).ready(function() {
    setTimeout(function() {
      $('#content').load('/venue/<%= @venue %>');}, 10000);
  });
</script>
</div>