<div class="container-fluid">
	<div class="span12">
		<h1><%= @order.firstname %> <%= @order.lastname %></h1>
		<h4><%= @order.venue %> @ Table <%= @order.table %></h4>
		<h4><%= @order.drinks %></h4>
	</div>
</div>