<div class='alert alert-info'><%= firstname %>, your location has been changed to <%= table %></div>

<div id='content'>
  <% @orders.each do |order| %>
          
    <h5><%= order.lastname %> at <a href="/venue/<%= order.venue %>"><%= order.venue %></a> <a href="/venue/<%= order.venue %>/table/<%= order.table %>">Table <%= order.table %></a></h5>
    <h4><a href="/orders/<%= order.id %>"><%= order.drinks %></a></h4>
    <p>from <%= order.phone %></p>
    <hr>
    <script>
      $(document).ready(function() {
      	setTimeout(function() {
        	$('#content').load('/user/<%= @phone %>');}, 10000);
      });
    </script>
  <% end %>
</div>