<div id="content">
  	
    <% @orders.each do |order| %>

    <div class="row-fluid" style="background: #A21721; color: white">	
      <div style="padding:25px;" class="span6">
    	 <h2><%= order.lastname %>, <%= order.firstname %> at <%= order.table %></h2>
       <h1><%= order.drinks %></h1>
       <h3><%= pretty_date(order.created_at) %></h3>
      </div>

      <div class="span3 offset3">
          <a href="/barkeeper" class="order_id_<%= order.id %>">
          <img style="padding:20px;"src="http://restlessnapkin.wpengine.com/wp-content/uploads/2013/06/grey_dot.png" class="img-circle"></a>
      </div>
    </div>

    <br>

    <script>
      $(document).ready(function() {
        $('.order_id_<%= order.id %>').click(function() {
          $.ajax({
            type: "PUT",
            url: "/orders/received/<%= order.id %>",
            }).done(function() {
              $(this).fadeOut('fast', function() {
              });
          });
        });
      });
    </script>

    <% end %>

		<script>
      $(document).ready(function() {
      	setTimeout(function() {
        	$('#content').load('/barkeeper');}, 2000);
      });
    </script>
</div>
