<div id='content'>

<div class="row-fluid" style="background: #555555; color: #f9f9f9">
  <div style="padding:10px;" class="span12">
    <h5><%= @venue %> | <%= Time.new.strftime("%m-%d %I:%M%P %-6:00z") %></h5>
    <h5><%= @customer_email %> ($<%= @user_amount %> on <%= @token[:card][:type] %> <%= @token[:card][:last4] %>)</h5>

    <ul style="font-size: 150%;">
      <% @order.each do |item| %>
        <li><h4><%= item["quantity"] %> &times; <%= item["item"] %></h4></li>
      <% end %>
    </ul>

  </div>
</div>

</div>