<div id='content'>

 <h2><%= @venue.name %>'s Items</h2>
    <% @item.each do |item| %>
      <div class="<%= item.id %>">
        <h3><%= item.name %> - <%= item.price %></h3>
        <p><%= item.description %></p>
      </div>

      <hr>
    <% end %> 

  <form action="/charge" method="post" class="payment">

    <article>
      <label class="amount">
        <span>Amount: $24.00</span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/v2/checkout.js" 
    class="stripe-button"
    data-key="<%= settings.publishable_key %>" 
    data-amount="2400"
    data-description="2 Connecticut Rolls ($24.00)"
    data-name="restlessnapkin"
    data-image="https://si0.twimg.com/profile_images/1104245949/restless_napkin_avatar.png">
    </script>
  </form>

</div>

<script>
  $(document).ready(function() {
    i = 1;
      $(document).on("change", "input.quantity, select.liquor, select.mixer, select.garnish", function () {
          var $this = $(this);
          var $item = $this.closest(".drink").find(".drink_value");
          var quantity = $this.closest(".drink").find("input.quantity").val();
          var liquor = $this.closest(".drink").find("select.liquor").val();
          var mixer = $this.closest(".drink").find("select.mixer").val();
          var garnish = $this.closest(".drink").find("select.garnish").val();

          $drink.val(quantity + "x " + liquor + " " + mixer + " with a " + garnish);
        });
  });
</script>