<div id='content'>

  <h3><%= @venue.name %> near <%= @location %> via <%= session[:phone] %></h3>

  <div id="add-drink-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="ModalLabel">Pick Drink Type</h3>
    </div>
    <div class="modal-body">
      <h3><a href="#" class="add-vodka" data-dismiss="modal" aria-hidden="true">Vodka</a></h3>
      <h3><a href="#" class="add-tequila" data-dismiss="modal" aria-hidden="true">Tequila</a></h3>
      <h3><a href="#" class="add-gin" data-dismiss="modal" aria-hidden="true">Gin</a></h3>
      <h3><a href="#" class="add-rum" data-dismiss="modal" aria-hidden="true">Rum</a></h3>
    </div>
  </div>

  <div class="gin-template" style="padding:10px; display: none;">
    <input type="hidden" class="drink_value" />
    <div class="row-fluid" style="background: #555555; color: #f9f9f9">
        
        <div style="float:left; padding-top:50px; padding-left:10px;"> 
          <input class="input-mini quantity" type="text" value="1">
        </div>
      
        <div style="float:right; padding:10px">      
          
          <p>
            <select class="input-medium liquor" >
                <% @gin.each do |gin| %>
                  <option><%= gin.name %></option>
                <% end %>
            </select>
          </p>
          
          <p>
            <select class="input-medium mixer">
              <option>- select mixer -</option>
              <option>Cranberry Juice</option>
              <option>Grapefruit Juice</option>
              <option>Lemonade</option>
              <option>Soda</option>
              <option>Tonic</option>
              <option>Water</option>
              <option>* Martini *</option>
              <option>* Neat *</option>
              <option>* Rocks *</option>
              <option>* Shot *</option>
            </select>
          </p>
          
          <p>
            <select class="input-medium garnish">
              <option>- select garnish -</option>
              <option>Cherry</option>
              <option>Lemon</option>
              <option>Lime</option>
              <option>Olive</option>
              <option>Orange</option>
            </select>
          </p>

        </div>
      </div>
  </div>


  <div class="rum-template" style="padding:10px; display: none;">
    <input type="hidden" class="drink_value" />
    <div class="row-fluid" style="background: #555555; color: #f9f9f9">
        
        <div style="float:left; padding-top:50px; padding-left:10px;"> 
          <input class="input-mini quantity" type="text" value="1">
        </div>
      
        <div style="float:right; padding:10px">      
          
          <p>
            <select class="input-medium liquor">
                <% @rum.each do |rum| %>
                  <option><%= rum.name %></option>
                <% end %>
            </select>
          </p>
          
          <p>
            <select class="input-medium mixer">
              <option>- select mixer -</option>
              <option>Cola</option>
              <option>Diet Cola</option>
              <option>Ginger Ale</option>
              <option>Ginger Beer</option>
              <option>Soda</option>
              <option>Tonic</option>
              <option>Water</option>
              <option>* Neat *</option>
              <option>* Rocks *</option>
              <option>* Shot *</option>
            </select>
          </p>
          
          <p>
            <select class="input-medium garnish">
              <option>- select garnish -</option>
              <option>Cherry</option>
              <option>Lemon</option>
              <option>Lime</option>
              <option>Olive</option>
              <option>Orange</option>
            </select>
          </p>

        </div>
      </div>

  </div>


  <div class="tequila-template" style="padding:10px; display: none;">
    <input type="hidden" class="drink_value" />
    <div class="row-fluid" style="background: #555555; color: #f9f9f9">
        
        <div style="float:left; padding-top:50px; padding-left:10px;"> 
          <input class="input-mini quantity" type="text" value="1">
        </div>
      
        <div style="float:right; padding:10px">      
          
          <p>
            <select class="input-medium liquor">
                <% @tequila.each do |tequila| %>
                  <option><%= tequila.name %></option>
                <% end %>
            </select>
          </p>
          
          <p>
            <select class="input-medium mixer">
              <option>- select mixer -</option>
              <option>Cola</option>
              <option>Diet Cola</option>
              <option>Cranberry Juice</option>
              <option>Ginger Ale</option>
              <option>Ginger Beer</option>
              <option>Grapefruit Juice</option>
              <option>Soda</option>
              <option>Tonic</option>
              <option>Water</option>
              <option>* Neat *</option>
              <option>* Rocks *</option>
              <option>* Shot *</option>
            </select>
          </p>
          
          <p>
            <select class="input-medium garnish">
              <option>- select garnish -</option>
              <option>Cherry</option>
              <option>Lemon</option>
              <option>Lime</option>
              <option>Olive</option>
              <option>Orange</option>
            </select>
          </p>

        </div>
      </div>

  </div>


  <div class="vodka-template" style="padding:10px; display: none;">
    <input type="hidden" class="drink_value" />
    <div class="row-fluid" style="background: #555555; color: #f9f9f9">
        
        <div style="float:left; padding-top:50px; padding-left:10px;"> 
          <input class="input-mini quantity" type="text" value="1">
        </div>
      
        <div style="float:right; padding:10px">      
          
          <p>
            <select class="input-medium liquor">
                <% @vodka.each do |vodka| %>
                  <option><%= vodka.name %></option>
                <% end %>
            </select>
          </p>
          
          <p>
            <select class="input-medium mixer">
              <option>- select mixer -</option>
              <option>Cranberry Juice</option>
              <option>Ginger Ale</option>
              <option>Ginger Beer</option>
              <option>Grapefruit Juice</option>
              <option>Lemon Lime Soda</option>
              <option>Red Bull</option>
              <option>Sugarfree Red Bull</option>
              <option>Soda</option>
              <option>Tonic</option>
              <option>Water</option>
              <option>* Martini *</option>
              <option>* Neat *</option>
              <option>* Rocks *</option>
              <option>* Shot *</option>
            </select>
          </p>
          
          <p>
            <select class="input-medium garnish">
              <option>- select garnish -</option>
              <option>Cherry</option>
              <option>Lemon</option>
              <option>Lime</option>
              <option>Olive</option>
              <option>Orange</option>
            </select>
          </p>

        </div>
      </div>

  </div>

  <form action='/orders' method='post' class="form-horizontal">
    <div class="drinks-container"></div>

    <div class="menu" style="background-color: #eeeeee; color: #555555;">
      <h2 style="padding-left:10px;"><a href="#add-drink-modal" data-toggle="modal">Add Drink</a></h2>
    </div>

    <br />

    <p><input class="btn btn-large btn-info" style="float:right;" type='submit' value='Send Drink Order'></p>
  </form>

  <div style="margin-top: -20px">
    <form action='/orders/drinks' method='post' class="form-horizontal">
      <p><input class="btn btn-large btn-danger" type='submit' value='Reset'></p>
    </form>
  </div>
</div>

<script>
  $(document).ready(function() {
    i = 1;
    max = 5;

        $('.add-drink').click(function(e) {
          e.preventDefault();
          if (i < max)
          {
            $(".drink-template")
              .clone()
              .show()
              .removeClass("drink-template")
              .addClass("drink")
              .find("input.drink_value")
                .attr("name", "order[drinks_" + i + "]")
              .end()
              .appendTo(".drinks-container");
            i++;
          }
        });

        $('.add-gin').click(function(e) {
          e.preventDefault();
          if (i < max)
          {
            $(".gin-template")
              .clone()
              .show()
              .removeClass("gin-template")
              .addClass("drink")
              .find("input.drink_value")
                .attr("name", "order[drinks_" + i + "]")
              .end()
              .appendTo(".drinks-container");
            i++;
          }
        });

        $('.add-rum').click(function(e) {
          e.preventDefault();
          if (i < max)
          {
            $(".rum-template")
              .clone()
              .show()
              .removeClass("rum-template")
              .addClass("drink")
              .find("input.drink_value")
                .attr("name", "order[drinks_" + i + "]")
              .end()
              .appendTo(".drinks-container");
            i++;
          }
        });

        $('.add-tequila').click(function(e) {
          e.preventDefault();
          if (i < max)
          {
            $(".tequila-template")
              .clone()
              .show()
              .removeClass("tequila-template")
              .addClass("drink")
              .find("input.drink_value")
                .attr("name", "order[drinks_" + i + "]")
              .end()
              .appendTo(".drinks-container");
            i++;
          }
        });

        $('.add-vodka').click(function(e) {
          e.preventDefault();
          if (i < max)
          {
            $(".vodka-template")
              .clone()
              .show()
              .removeClass("vodka-template")
              .addClass("drink")
              .find("input.drink_value")
                .attr("name", "order[drinks_" + i + "]")
              .end()
              .appendTo(".drinks-container");
            i++;
          }
        });

        $('.whisky-drink').click(function(e) {
          e.preventDefault();
          if (i < max)
          {
            $(".whisky-template")
              .clone()
              .show()
              .removeClass("whisky-template")
              .addClass("drink")
              .find("input.drink_value")
                .attr("name", "order[drinks_" + i + "]")
              .end()
              .appendTo(".drinks-container");
            i++;
          }
        });

        $(document).on("change", "input.quantity, select.liquor, select.mixer, select.garnish", function () {
          var $this = $(this);
          var $drink = $this.closest(".drink").find(".drink_value");
          var quantity = $this.closest(".drink").find("input.quantity").val();
          var liquor = $this.closest(".drink").find("select.liquor").val();
          var mixer = $this.closest(".drink").find("select.mixer").val();
          var garnish = $this.closest(".drink").find("select.garnish").val();

          $drink.val(quantity + "x " + liquor + " " + mixer + " with a/an " + garnish);
        });
  });


</script>