<div id="content">
    
    <% @orders.each do |order| %>

    <div id="order-<%= order.id %>" class="row-fluid" style="background-color: black; color: white;">
      
      <div class="span6" style="padding:25px;" >
        <div class="top-row-<%= order.id %>"></div>
        <div class="main-row-<%= order.id %>"><h1><%= pretty_date(order.created_at) %></h1></div>
        <div class="bottom-row-<%= order.id %>"></div>
      </div>

      <div class="span3 offset3" style="color: #e0e1de">
        <div id="order-<%= order.id %>-status" class="<%= order.id %>-not-received">
          <h2><i class="icon-circle icon-4x"></i></h2>
        </div>
      </div>
    </div>

    <br>

    <script>
      $(document).ready(function() {
        $('.<%= order.id %>-received').click(function() {
          $.ajax({
            type: "PUT",
            url: "/orders/fulfilled/<%= order.id %>",
            }).done(function() {
          $("#order-<%= order.id %>").fadeOut('fast');
          });
        });
      });

      $(document).ready(function() {
        $('.<%= order.id %>-not-received').click(function() {
          $.ajax({
            type: "PUT",
            url: "/orders/received/<%= order.id %>",
            }).done(function() {
          $(".top-row-<%= order.id %>").html("<h2><%= order.lastname %> at <%= order.venue %> <%= order.table %></h2>");
          $(".main-row-<%= order.id %>").html("<h1><%= order.drinks %></h1>");
          $(".bottom-row-<%= order.id %>").html("<h3>Order <%= order.id %> a few seconds ago</h3>");
          $("#order-<%= order.id %>").css("background-color","#f9f9f9");
          $("#order-<%= order.id %>").css("color","black");
          $("#order-<%= order.id %>-status").removeClass("<%= order.id %>-not-received");
          $("#order-<%= order.id %>-status").addClass("<%= order.id %>-received");
          });
        });
      });
      

    </script>

    <% end %>

   
</div>
