<div id="content">
    
    <% @orders.each do |order| %>

    <div class="row-fluid" style="background: #A21721; color: white"> 
      <div style="padding:25px;" class="span6">
       <div class="top-row"></div>
       <div class="main-row"><h1>a few minutes ago</h1></div>
       <div class="bottom-row"></div>
      </div>

      <div class="span3 offset3" style="color: #e0e1de">
          <div class="order_id_<%= order.id %>">
              <h2><i class="icon-circle icon-4x"></i></h2>
          </div>
      </div>
    </div>

    <br>

    <script>
      $(document).ready(function() {
        $('.order_id_<%= order.id %>').click(function() {
          $.ajax({
            type: "PUT",
            url: "/orders/received/<%= order.id %>",
            }).done(function() {
              $(this).remove();
          });
        $(".top-row").html("<%= order.lastname %> at <%= order.venue %> <%= order.table %>");
        });
      });
    </script>

    <% end %>

    <script>
      $(document).ready(function() {
        setTimeout(function() {
          $('#content').load('/moontower');}, 2000);
      });

      $(document).ready(function() {

      });

    </script>
</div>
