<div id='content'>

<div class="alert alert-block">
  <h4><%= @venue.name %></h4>
  <%= @venue.address %>
</div>

<div class="order">
  <div class="row-fluid">
    <div style="padding:10px;" class="span12">
      <h1>Order <%= @order.id %></h1>
      <h4>$<%= (@charge[:amount] / 100) %> on <%= @charge[:card][:type] %> <%= @charge[:card][:last4] %> at <%= (@order.created_at - 21600).strftime("%I:%M%P") %></h4>

      <ul style="font-size: 150%; list-style-type: none;">
        <% @items.each do |item| %>
          <li><h4><%= item.quantity %> &times; <%= item.item %></h4></li>
        <% end %>
      </ul>

    </div>
  </div>
</div>

<div class="alert alert-warning" style="margin-top: 10px">
  <%= @print_id %>
</div>

<script>
  $(document).ready(function() {
    setTimeout(function() {
      $('#content').load('/orders/<%= @order.id %>');}, 10000);
  });
</script>

</div>

<style type="text/css">

  .order {
  background: #baddd9;
  border-radius: 2px;
  border: 1px solid #9bbeba;
  }

</style>