<div id='content'>

  <div class="row">

    <div class="span6">
      <h1><%= @venue.name %>'s Items</h1> <br />

        <% @item.each do |item| %>
          <h3><%= item.name %> - <%= item.price %></h3>
          <p><%= item.description %></p>
          <hr>
        <% end %>
    </div>

    <div class="span4">
      <h2>Add Menu Item</h2> <br />

        <form action='/admin/food/add' method='post' class="form-horizontal">
          <p>
            <input class="span3" type="text" name='name' placeholder="Name">
          </p>

          <p>
            <textarea rows="3" class="span3" name='description' placeholder="Description"></textarea>
          </p>

          <p>
            <div class="input-prepend">
              <span class="add-on">$</span>
              <input class="span1" type="text" name='price'>
            </div>
          </p>

          <p>
            <input class="span3" type="hidden" name='venue_id' value='<%= @venue.id %>'>
          </p>

          <p>
            <input class="span3" type="hidden" name='venue' value='<%= @venue.handle %>'>
          </p>

          <p><input class="btn btn-large btn-info" type='submit' value='Add Item'></p>
        </form>
    </div>

  </div>
</div>