<div id='content'>
	<h1>All Orders</h1><br>
		<% @orders.each do |order| %>
  				
    	<h4><a href="/user/<%= order.phone %>"><%= order.lastname %></a> at <a href="/venue/<%= order.venue %>"><%= order.venue %></a> <a href="/venue/<%= order.venue %>/table/<%= order.table %>">Table <%= order.table %></a></h4>
    	<h3><a href="/orders/<%= order.id %>"><%= order.drinks %></a></h3>
    	<p><%= pretty_date(order.created_at) %> from <a href="/user/<%= order.phone %>"><%= order.phone %></a></p>
    	<br>
  	<% end %>
		<script>
      $(document).ready(function() {
      	setTimeout(function() {
        	$('#content').load('/');}, 10000);
      });
    </script>
</div>
