<h1>All Orders</h1>
<table class="table table-striped">
	<tbody>
	
	<% @orders.each do |order| %>
  	<tr>
    	<td><b><a href="/orders/<%= order.id %>"><%= order.lastname %></a></b></td>
    	<td><b><%= order.table %></b></td>
    	<td><%= pretty_date(order.created_at) %></td>
    	<td><b><%= order.drinks %></b></td>
  	</tr>
  	<% end %>

 	</tbody>
</table>