<div id='content'>
	<h3>Austin's Orders</h3><hr>
		<% @orders.each do |order| %>
  				
    	<h5><a href="/venue/<%= order.venue %>"><%= order.venue %></a> at <a href="/venue/<%= order.venue %>/table/<%= order.table %>">Table <%= order.table %></a></h5>
    	<h4><a href="/orders/<%= order.id %>"><%= order.drinks %></a></h4>
    	<p>Order <%= order.id %> from <%= order.firstname %></a></p>
    	<hr>
  	<% end %>
		<script>
      $(document).ready(function() {
      	setTimeout(function() {
        	$('#content').load('/');}, 10000);
      });
    </script>
</div>
