<div id='content'>

  <h1>EDIT <%= @venue.name %>'s Available Liquors</h1>
  
  <form action="/admin/<%= @venue.handle %>/liquor" method="post">
  <input type="hidden" name="_method" value="put" />   
    <div class="row">

      <div class="span3">
        <h3>Vodka</h3>
        <% @vodka.each do |vodka| %>
          <label class="checkbox">
            <input type="checkbox" name="<%= vodka.id %>" >
            <%= vodka.id %> - <%= @venues_liquor %> - <%= @venues_liquor.include?("vodka.id") ? "yes" : "no" %>
          </label>
        <% end %>
      </div>

      <div class="span3">
        <h3>Tequila</h3>
        <% @tequila.each do |tequila| %>
          <label class="checkbox">
            <input type="checkbox" name="<%= tequila.id %>" >
            <%= tequila.name %>
          </label>
        <% end %>
      </div>

      <div class="span3">
        <h3>Gin</h3>
        <% @gin.each do |gin| %>
          <label class="checkbox">
            <input type="checkbox" name="<%= gin.id %>" >
            <%= gin.name %>
          </label>
        <% end %>
      </div>

      <div class="span3">
        <h3>Rum</h3>
        <% @rum.each do |rum| %>
          <label class="checkbox">
            <input type="checkbox" name="<%= rum.id %>" >
            <%= rum.name %>
          </label>
        <% end %>
      </div>

    </div>
  </form>
</div>

<script>
  $(document).ready(function() {

    $("input.checkbox").change(function(){
      if($(this).is(':checked')){
        $.ajax({
          type: "PUT",
          url: ''.concat("/liquor/checked/", $this.closest(".checkbox").data("###TODO")),
        })
      } else {
        $.ajax({
        type: "DELETE",
        url: ''.concat("/liquor/unchecked/", $this.closest(".checkbox").data("###TODO")),
      })
      }
    });

  });
</script>