<div id='content'>

  <h1>EDIT <%= @venue.name %>'s Available Liquors</h1>
  
  <form action="/admin/<%= @venue.handle %>/liquor" method="post">
  <input type="hidden" name="_method" value="put" />   
    <div class="row">

      <div class="span3">
        <h3>Vodka</h3>
        <% @vodka.each do |liquor| %>
          <div id="liquor-<%= liquor.id %>" class="liquor" data-liquor-id="<%= liquor.id %>">
            <label class="checkbox">
              <input type="checkbox" name="liquor" <%= @liquors_venue.include?(liquor.id) ? "checked" : "" %>>
                <%= liquor.name %>
            </label>
          </div>
        <% end %>
      </div>

      <div class="span3">
        <h3>Tequila</h3>
        <% @tequila.each do |liquor| %>
          <div id="liquor-<%= liquor.id %>" class="liquor" data-liquor-id="<%= liquor.id %>">
            <label class="checkbox">
              <input type="checkbox" name="liquor" <%= @liquors_venue.include?(liquor.id) ? "checked" : "" %>>
                <%= liquor.name %>
            </label>
        </div>
        <% end %>
      </div>

      <div class="span3">
        <h3>Gin</h3>
        <% @gin.each do |liquor| %>
          <div id="liquor-<%= liquor.id %>" class="liquor" data-liquor-id="<%= liquor.id %>">
            <label class="checkbox">
              <input type="checkbox" name="liquor" <%= @liquors_venue.include?(liquor.id) ? "checked" : "" %>>
                <%= liquor.name %>
            </label>
          </div>
        <% end %>
      </div>

      <div class="span3">
        <h3>Rum</h3>
        <% @rum.each do |liquor| %>
          <div id="liquor-<%= liquor.id %>" class="liquor" data-liquor-id="<%= liquor.id %>">  
            <label class="checkbox">
              <input type="checkbox" name="liquor" <%= @liquors_venue.include?(liquor.id) ? "checked" : "" %>>
                <%= liquor.name %>
            </label>
          </div>
        <% end %>
      </div>

    </div>
  </form>
</div>

<script>
  $(document).ready(function() {
    $("input[name='liquor']").change(function(){
      var $this = $(this);
      if ($this.is(':checked')) {
        $.ajax({
          type: "POST",
          url: ''.concat("/liquor/checked/", $this.closest(".liquor").data("liquor-id")),
        });
      }else{
        $.ajax({
            type: "DELETE",
            url: ''.concat("/liquor/unchecked/", $this.closest(".liquor").data("liquor-id")),
        });
      }
    });

  });
</script>