<div id='content'>

  <h2>Operating Hours for <%= @venue.name %> (@<%= @venue.handle %>)</h2>
  <hr>

    

    <h4>Edit Hours of Operation</h4>
    <form action='/admin/venue/hours/edit' method='post' class='form-horizontal'>
      <input type="hidden" name="_method" value="PUT" />
      <input type='hidden' name='venue_id' value='<%= @venue.id %>'>
      <div class='control-group'>
      <% @time.each do |x| %>
        <% start_hour = x.start_hour %>
        <% end_hour = x.end_hour %>

        <% x.start_hour > 12 ? start_meridian = "pm" : start_meridian = "am" %>
        <% start_meridian == "pm" ? start_hour -= 12 : start_hour = x.start_hour %>
        
        <% x.end_hour > 12 ? end_meridian = "pm" : end_meridian = "am" %>
        <% end_meridian == "pm" ? end_hour -= 12 : end_hour = x.end_hour %>

        <input type='hidden' name='id' value='<%= x.id %>'>
        <label class='control-label' for='<%= x.id %>'><%= @day_of_week[x.day_of_week] %></label>
        <div class='controls controls-row'>

          <select type='text' id='<%= x.id %>' name='<%= x.id %>_start_hour' class='span1' value='x.start_hour'>
            <% (1..12).each do |hour| %>
              <option <%= start_hour == hour ? "selected" : "" %>><%= hour %></option>
            <% end %>
          </select>

          <select type='text' id='<%= x.id %>' name='<%= x.id %>_start_meridian' class='span1'>
            <option>am</option>
            <option>pm</option>
          </select>

          <select type='text' id='<%= x.id %>' name='<%= x.id %>_end_hour' class='span1'>
            <% (1..12).each do |hour| %>
              <option <%= end_hour == hour ? "selected" : "" %>><%= hour %></option>
            <% end %>
          </select>

          <select type='text' id='<%= x.id %>' name='<%= x.id %>_end_meridian' class='span1'>
            <option>pm</option>
            <option>am</option>
          </select>
        </div>
        <br>
      <% end %>  
      </div>
  
    <p><input class='btn btn-large btn-info' type='submit' value='Update'></p>
    </form>
    
</div>