<div id='content'>

  <h2>Operating Hours for <%= @venue.name %> (@<%= @venue.handle %>)</h2>
  <hr>

    

    <h4>Set Hours</h4>
    <form action='/admin/venue/hours/edit' method='post' class='form-horizontal'>
      <input type='hidden' name='venue_id' value='<%= @venue.id %>'>
      <div class='control-group'>
      <% (0..6).each do |day| %>
        <label class='control-label' for='<%= @day_of_week[day] %>'><%= @day_of_week[day] %></label>
        <div class='controls controls-row'>
          <select type='text' id='<%= @day_of_week[day] %>' name='<%= day %>_start_hour' class='span1'>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
          </select>

          <select type='text' id='<%= @day_of_week[day] %>' name='<%= day %>_start_meridian' class='span1'>
            <option>am</option>
            <option>pm</option>
          </select>

          <select type='text' id='<%= @day_of_week[day] %>' name='<%= day %>_end_hour' class='span1'>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
          </select>

          <select type='text' id='<%= @day_of_week[day] %>' name='<%= day %>_end_meridian' class='span1'>
            <option>pm</option>
            <option>am</option>
          </select>
        </div>
        <br>
      <% end %>  
      </div>
  
    <p><input class='btn btn-large btn-info' type='submit' value='Update'></p>
    </form>
    
</div>