<h2><%= @venue %> Order</h2>
<h2><%= Time.new.strftime("%m-%d %I:%M%P %-6:00z") %></h2>
<h3 style="word-wrap: break-all;"><%= @customer_email %> (<%= @token[:card][:type] %> <%= @token[:card][:last4] %>)</h3>

<ul style="font-size: 150%;">
  <% @order.each do |item| %>
    <li><h2><%= item["quantity"] %> &times; <%= item["item"] %></h2></li>
  <% end %>
</ul>